# Ignorar directorios de compilación y temporales
**/bin/
**/obj/
**/out/
**/dist/

# Ignorar archivos de IDE
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/*.sln.docstates

# Ignorar archivos de Git
**/.git/
**/.gitignore

# Ignorar Docker
**/Dockerfile
**/.dockerignore

# Ignorar pruebas
**/TestResults/
